/* 
  
  --bleu-clair: #82D0F5; 
  --bleu-foncé: #0084C6; 
  --rouge-clair: #E5281F; 
  --rouge-foncé: #A01C18; 
  --noir: #1d1d1b;  
  --font-family: 'Roboto', sans-serif; 

 */

.page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main {
  flex-grow: 1; /* Permet au main de prendre tout l'espace disponible, en poussant le footer en bas */
}

/* Style pour la section présentation */
.presentation {
  background-image: url('../../public/images/cinema.jpg'); /* Remplace par le chemin de ton image */
  background-size: cover;
  background-position: center;
  text-align: center;
  color: black;
  height: 25vh; /* Ajuste la hauteur comme souhaité */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.presentation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Couleur blanche avec opacité de 50% */
  z-index: 1; /* Pour que l'image soit derrière l'overlay */
}

/* Texte sur l'image, assure-toi qu'il soit au-dessus de l'overlay */
.presentation .content {
  position: relative;
  z-index: 2;
  color: black;
}

/* Style du titre et des paragraphes dans présentation */
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 1.2rem;
  margin: 10px;
  color: black; /* Texte noir */
}

.sectionTitle {
  text-align: center;
  margin: 10px;
}

/* Style pour les cartes */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cartes par ligne */
  gap: 20px;
  padding: 20px;
  margin: 0 10px;
}

/* Carte individuelle */
.card {
  background-color: #82d0f5;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover {
  background-color: #0084c6; /* Au survol, la carte devient plus foncée */
}

/* Image dans la carte */
.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

/* Texte dans la carte */
.card p {
  font-size: 1rem;
}

/* Call to action */
.callToAction {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

/* MEDIA QUERIES - Pour les écrans plus petits */

/* Sur les écrans moyens, afficher 2 cartes par ligne */
@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); /* 2 cartes par ligne */
  }
}

/* Sur les petits écrans, afficher 1 carte par ligne */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr; /* 1 carte par ligne */
  }

  .title {
    font-size: 2.5rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .callToAction {
    font-size: 1.2rem;
  }
}
