.lists-page {
    padding: 20px;
  }
  
  .list-section {
    margin-bottom: 30px;
  }
  
  .list-section h2 {
    margin-bottom: 10px;
  }
  
  .list-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .list-item {
    margin: 10px;
    text-align: center;
  }
  
  .list-item img {
    width: 150px;
    height: 225px;
    object-fit: cover;
  }
  
  .loading {
    text-align: center;
    font-size: 1.5em;
  }
  
  .list-item button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .list-item button:hover {
    background-color: darkred;
  }
  