.work-detail {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;  
    flex-grow: 1; 
  }
  
  .work-poster {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
    line-height: 1.6;
  }
  