@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --bleu-clair: #82d0f5; /* Bleu clair */
  --bleu-foncé: #0084c6; /* Bleu foncé */
  --rouge-clair: #e5281f; /* Rouge clair */
  --rouge-foncé: #a01c18; /* Rouge foncé */
  --noir: #1d1d1b; /* Noir foncé */
  --font-family: 'Roboto', sans-serif; /* Roboto */
}

.work-detail {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
  background: var(--noir); /* Fond sombre pour un effet cinématographique */
  color: #fff;
  font-family: var(--font-family);
}

.work-poster {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 20px white;
  transition: transform 0.3s ease-in-out;
}

.work-detail h1 {
  margin: 10px;
  color: var(--bleu-foncé); /* Couleur accentuée */
}

.work-detail p {
  line-height: 1.5;
  margin: 20px;
}

/* Boutons d'ajout à la liste */
.add-to-list-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.add-to-list-buttons button {
  background: linear-gradient(135deg, var(--bleu-clair), var(--bleu-foncé));
  color: var(--noir);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-to-list-buttons button:hover {
  background: linear-gradient(135deg, var(--bleu-foncé), var(--bleu-clair));
  color: black;
  transform: scale(1.05);
}

.add-to-list-buttons button:disabled {
  background: #555;
  color: #ccc;
  cursor: not-allowed;
}

/* Section des critiques */
.reviews-section {
  padding: 15px;
  background: var(--noir);
}

.reviews-section h2 {
  color: var(--bleu-foncé);
  padding: 20px;
  text-align: center;
}

.reviews-section p {
  font-size: 14px;
  color: white;
  text-align: center;
}

.review-form-details p {
  text-align: center;
  padding: 20px;
}

.review-form-details p strong {
  text-decoration: underline;
  font-weight: normal;
  color: var(--bleu-foncé);
}

.review-form-details p strong:hover {
  font-weight: bold;
}

/* Messages d'erreur */
.error {
  color: var(--rouge-clair);
  font-weight: bold;
  margin: 10px;
}
