/* Style pour le titre principal */
.containerDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  color: #1d1d1b;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* Style pour l'affichage des erreurs */
.error {
  color: #a01c18;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

/* Style du menu de navigation */
.navDashboard {
  margin-top: 2rem;
}

.navDashboard ul {
  list-style-type: none;
  padding: 0;
}

.navDashboard ul li {
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  background-color: #82d0f5;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.btn:hover {
  background-color: #0084c6;
  transform: translateY(-2px);
}

.btn:focus {
  outline: none;
}

/* Réactivité - Ajuster pour les petits écrans */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .btn {
    width: 100%;
    padding: 12px;
  }
}
